html {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
}

:root {
    animation-delay: 10s;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 999;
    position: relative;
}

.logo {
    margin-right: 15%;
}

.header>a {
    color: #061224E5;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}

.breadcrumb li a {
    color: #061224;
    opacity: 0.6;
}

.header>a:hover {
    text-decoration: underline;
}

.btn-outline-primary {
    width: 110px;
    height: 40px;
    border-radius: 43px;
    color: #061224E5;
    text-transform: uppercase;
    font-weight: 500;
    border: 1.5px solid #1064E5;
}

.btn-lg {
    width: 189px;
    height: 40px;
    border-radius: 45px;
    text-transform: uppercase;
    padding-top: 3px;
}

.title {
    color: #061224E5;
    font-size: 1.9rem;
    font-weight: 500;
    z-index: 500;
}
.fowebold{
    font-weight: bold;
    width: 217px;
}

.banner {
    z-index: 555;
    position: relative;
    top: -600px;
    width: 586px;
    left: 10%;
}

.banner .btn-primary {
    height: 56px;
    width: 295px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 45px;
    margin-top: 30px;
}

.plus {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
    margin-top: -350px;
}

.card {
    border: none;
}

.card-title {
    font-weight: 500;
}

.icon {
    position: relative;
    top: 20%;
    right: -30%;
}

.you_comfort {
    background-color: #D8F1F0;
    padding-top: 100px;
}

.comfort {
    height: 940px;
    background-color: #D8F1F0;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
}

.comfort>.comfort_grid1 {
    grid-column-start: 2;
}

.comfort>.comfort_grid2 {
    grid-column-start: 3;
}

.comfort>.comfort_grid3 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.comfort>.comfort_grid4 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.comfort>.card {
    width: 530px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0);
}

.comfort>.card .card-title {
    font-size: 2rem;
}

.comfort .btn-outline-primary {
    width: 217px;
    height: 56px;
    font-weight: 700;
}

.comfort .btn-primary {
    width: 217px;
    height: 56px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 15px;
    border-radius: 50px;
}

.pack {
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.pack .card {
    background-color: #DEEEFC;
    height: 320px;
    width: 256px;
}

.pack-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.-large {
    font-size: 48px;
    font-weight: bold;
}

.hrn-month {
    font-size: 20px;
    font-weight: 500;
}

.doc {
    font-weight: 500;
}

.pack .btn-lg {
    font-size: 12px;
    font-weight: 600;
    width: 192px;
    height: 40px;
    padding-top: 5px;
}

.pack .card-body {
    margin-left: 5%;
}

.comp-doc {
    height: 310px;
    background-color: #D8F1F0;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.comp-doc>br {
    line-height: 0px;
    font-size: 0px;
}

.comp-doc>span:first-of-type {
    font-size: 40px;
    font-weight: 500;
}

.comp-doc>span:last-of-type {
    font-size: 18px;
    font-weight: 400;
}

.h1-signy_friends {
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,700;1,500&display=swap');
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.signy-friends {
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.signy-friends img {
    height: 106px;
}

footer a:hover {
    text-decoration: underline;
}

footer span {
    color: white;
    opacity: 0.4;
}

.bg-footer {
    background-color: #061224 !important;
}

.bg-footer a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}
footer ul>li {
    text-align: left;
}

.security {
    position: relative;
    top: 120px;
}

.our-contacts a {
    color: #061224E5;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.vector {
    padding-right: 5px;
}

.google-map {
    margin-left: 500px;
    margin-top: -350px;
}

#name {
    width: 420px;
    height: 50px;
    border-radius: 48px;
    border: 1px solid rgba(6, 18, 36, 0.9);
    margin-top: 10px;
}

#mail {
    width: 420px;
    height: 50px;
    border-radius: 48px;
    border: 1px solid rgba(6, 18, 36, 0.9);
    margin-top: 10px;
}

#tel {
    width: 420px;
    height: 50px;
    border-radius: 48px;
    border: 1px solid rgba(6, 18, 36, 0.9);
    margin-top: 10px;
}

#commit {
    width: 420px;
    height: 138px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(6, 18, 36, 0.9);
    margin-top: 10px;
}

.container .btn-lg {
    background-color: #1064E5;
    font-size: 14px;
    padding-top: 10px;
    width: 217px;
    height: 50px;
}
.description_about-us{
    font-size: 18px;
}
.idea{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}
span.name-surname{
    font-weight: 600;
}
.info-propaganda{
    font-size: 18px;
}
.info-model{
    font-size: 18px;
}
.signature{
    display: flex;
    margin: 0 auto;
}
.news{
    background-color: #D8F1F0;
    height: 300px;
    text-align: center;
    margin-bottom: 0px;
}
.mail-to-news{
    font-size: 18px;
}
.input-news{
    border: #1064E5 1px solid;
    border-radius: 37px;
    width: 399px;
    height: 50px;
}
.news-btn{
    font-size: 14px;
    width: 178px;
    padding-top: 5px;
    margin-left: 18px;
}
.mt-5{
    margin-top: 1.5rem !important;
}
.modal-body{
    background-color: #DEEEFC;
    text-align: center;
}
.modal-header{
    border: none;
    background-color: #DEEEFC;
}
.modal-header h3{
    margin: 0 auto;
    position: relative;
    left: 70px;
}
.modal-footer{
    border: none;
    background-color: #DEEEFC;
}
button.btn-close img{
    position: relative;
    top: -6.1px;
    left: -4px;
}
.modal-news-background{
    background-color: #D8F1F0;
}
.navbar-light .navbar-toggler-icon{
    background-image: url(../img/burger.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
.mycontainer a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #061224;
    font-weight: 600;
}
.mycontainer a:hover{
    text-decoration: underline;
}
.background-image{
    background-image: url(../img/skyscraper-2561415_1920.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around;
}
.burger-menu{
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    align-content: space-around;
}
.burger-logo{
    grid-column-start: 1;
    grid-row-start: -1;
}
.burger-menu hr{
    background-color: #1064E5;
    height: 2px;
}
.burger-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.burger-btns button:first-of-type{
    height: 35px;
    width: 100px;
    position: relative;
    left: 15px;
    font-size: 14px;
}
.burger-btns button.btn-lg{
    height: 35px;
    width: 160px;
    position: relative;
    right: 15px;
    font-size: 18px;
    left: -10px;
}
.burger-menu ul>li{
    padding-bottom: 20px;
}
.burger-tel{
    align-content: space-around;
}
.header-buttons{
    position: relative;
    left: 15%;
}
.header-buttons button:last-of-type{
    left: 20px;
    position: relative;
    margin-left: 20px;
}
.form_registration{
    display: flex;
    justify-content: center;
}
.form_registration input{
    width: 420px;
    border-radius: 48px;
    height: 50px;
    border: 1px solid #1064E5;
}
.form_registration button{
    background-color: #1064E5;
    width: 217px;
    height: 43px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    left: 90px;
}
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border: none;
}
.price-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.center{
    text-align: center;
}
.user-photo{
    height: 40px;
    margin-top: 20px;
}
@media screen and (min-width: 500px) and (max-width: 1200px) {
    .header-buttons button:first-of-type{
        display: none;
    }
    .plus{
        height: 300px;
        text-align: center;
    }
    .comfort > .comfort_grid2 {
        display: none;
    }
    .comfort>.comfort_grid3 {
        grid-column-start: 2;
        grid-row-start: 3;
    }
    .comfort>.comfort_grid4 {
        display: none;
    }
    .signy-friends>img{
        height: 70px;
    }
    .about-img{
        height: 200px;
    }
    .idea-img{
        height: 400px;
        margin-left: 70px;
    }
    .idea_description{
        margin-top: 400px;
        margin-left: -400px;
    }
    
    
    
}
@media screen and (min-width: 500px) and (max-width: 770px){
    .plus{
        height: 1000px;
        text-align: center;
    }
    .pack{
        height: 1400px;
        margin-left: 50px;
    }
    .news{
        height: 400px;
    }
    .news>.input-news{
        margin-bottom: 30px;
    }
    .google-map{
        margin-top: 80px;
        margin-left: -200px;
        margin-bottom: 50px;
    }
}